In [1]:
import pandas as pd

In [2]:
# Criando uma lista

s = pd.Series(list("asdaasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd"))

In [3]:
# Visualizando os valores únicos

s.unique()

array(['a', 's', 'd'], dtype=object)

In [4]:
# Visualizando as contagens individuais

s.value_counts()

a    26
s    25
d    25
dtype: int64

In [5]:
# Importando um data frame

data = pd.read_csv("Dados/aluguel.csv", sep = ";")

In [6]:
data.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
7,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
8,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
9,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento

In [8]:
# Visualizando as valores unicos

data.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
# Contando os valores únicos

data.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

In [10]:
# Exercício
# Suponha que estejamos testando as moedas que serão utilizadas por árbitros de futebol nas competições da Copa do Mundo. 
# Atualmente, estas moedas são personalizadas e utilizadas em certos momentos dos jogos para decidir, na sorte, uma disputa. 
# Nosso objetivo é verificar se as moedas que serão utilizadas nas competições não sejam viciadas.

#Para isso testes foram realizados com cinco moedas e os resultados foram os seguintes:

m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

# Acima, temos o resultado de 50 lançamentos de cada moeda (m1, m2, m3, m4 e m5), 
# onde c representa a ocorrência do evento CARA e C representa a ocorrência do evento COROA.

# Para tirarmos nossas conclusões, precisamos montar o seguinte DataFrame:
# Onde Freq. C e Freq. c são, respectivamente, as frequências de COROAS e de CARAS em cada teste.

In [12]:
# Errado

eventos = {"m1": m1,
          "m2": m2,
          "m3": m3,
          "m4": m4,
          "m5": m5}

moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ["Cara", "Coroa"],
                 index = ["c", "C"],
                 columns = ["Faces"])

for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()],
    axis = 1)
df

ValueError: If using all scalar values, you must pass an index

In [16]:
# Correto

eventos = {"m1": list(m1),
          "m2": list(m2),
          "m3": list(m3),
          "m4": list(m4),
          "m5": list(m5)
          }

moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ["Cara", "Coroa"],
                 index = ["c", "C"],
                 columns = ["Faces"])

for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()],
    axis = 1)
moedas

   m1 m2 m3 m4 m5
0   C  C  C  c  C
1   C  C  c  C  C
2   c  C  c  C  C
3   C  C  C  c  c
4   C  C  C  c  C
5   c  c  c  C  c
6   c  c  c  C  C
7   C  C  C  c  c
8   C  c  c  c  C
9   C  c  C  C  c
10  c  C  C  C  C
11  c  c  C  c  C
12  C  C  C  c  C
13  c  C  C  C  c
14  C  C  C  C  C
15  c  C  C  c  C
16  c  c  C  c  c
17  C  c  C  c  C
18  c  C  C  c  c
19  C  c  c  C  C
20  c  c  c  c  C
21  C  c  c  C  c
22  C  c  C  c  c
23  C  C  c  C  C
24  c  c  c  c  c
25  C  c  C  C  C
26  C  C  C  c  C
27  c  c  C  C  c
28  c  c  C  c  c
29  c  C  C  C  c
30  C  C  C  c  C
31  C  c  c  C  c
32  c  C  c  C  c
33  C  c  C  C  C
34  c  c  C  C  C
35  C  C  C  c  c
36  c  c  c  c  C
37  C  C  c  c  c
38  c  c  c  c  C
39  c  C  C  C  c
40  c  C  C  C  C
41  C  c  C  C  c
42  C  C  c  c  C
43  c  c  C  C  c
44  C  c  C  C  c
45  c  C  c  c  c
46  c  c  c  C  c
47  c  c  c  C  c
48  C  C  C  C  C
49  c  c  C  C  c

In [15]:
# Errado

eventos = {"m1": list(m1),
          "m2": list(m2),
          "m3": list(m3),
          "m4": list(m4),
          "m5": list(m5)
          }

moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ["Cara", "Coroa"],
                 index = ["c", "C"],
                 columns = ["Faces"])

for item in moedas:
    df = pd.concat([df, moedas[item].sum()],
    axis = 1)
df

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid